/apzkr-pzpi-21-7-michkivskyi-yaroslav/Task1-Server/node_modules/
/apzkr-pzpi-21-7-michkivskyi-yaroslav/Task2-IoT/packages/
/apzkr-pzpi-21-7-michkivskyi-yaroslav/Task2-IoT/bin/
/apzkr-pzpi-21-7-michkivskyi-yaroslav/Task2-IoT/obj/
/apzkr-pzpi-21-7-michkivskyi-yaroslav/Task2-IoT/.vs/
/apzkr-pzpi-21-7-michkivskyi-yaroslav/Task3-WebClient/node_modules/
/.idea